<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <h2> 
        Details of the Admin in retail store
    </h2>
    <p>
        Store administration deals with various aspects which are necessary to sell the goods to clients without any disruption.<br> It includes cleanliness of the whole store particularly the main floor, maintenance the store facade and the displayed windows, etc.<br> Besides this maintaining the record of each level of employees,<br> using them efficiently and prudently, to keep the records of holidays and the shifts that the staff may be required to work for and the staff’s pending leave record.

<br> Administrators make sure that store need to be maintained as per the criteria,rules set by top management.<br> This includes the proper cleaning of the store and arranging/refilling the merchandise before the customers come for shop.

<br> Besides this, administration ensures that all the required permissions, licenses and NOCs (No Objection Certificates) have been properly received on time from all civic authorities.<br> It also includes fulfillment of health and safety norms as required by the law of the land.
    </p>
    
</body>
</html>