<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h2>
        Details of the Distributor of retail store 
    </h2>
    <p>
        A distributor is a person who distributes and supplies the products to the other respective authorities.
        <br> A retailer is a person or business who sells the products or services directly to end customers.
        <br> They frequently have a relationship with the manufacturers.
        <br> They have a direct relation with the consumers.
    </p>
</body>
</html>