<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h2>
        Details of the retail Store
    </h2>
    <p>
        An organization is a formal arrangement of roles and ranks put in place to attain some particular
objectives.<br> The arrangement of a retail organization depicts the role of employees and the mode
in which the organization operates.<br> To outline an effective retail organization structure,
managers/owners must describe store objectives,<br> recognize the tasks, categorize the tasks and
jobs, and allocate responsibilities and power to different positions,<br> and define the link between
them. Organizations can have flat arrangements or vertical (tall) arrangements.<br> A flat
organization arrangement has only one or two levels of management,<br> whereas a vertical
organization has more than two levels of management.<br> This unit will discuss forms of retail
organization and number of organization levels.
    </p>
</body>
</html>